/*CSS for Intro to JavaScript*/

.button-class { /*button attributes*/
    background-color: #3466af; /*button color*/
    color: white; /*text color*/
    text-align: center;
    font-family: 'Pokemon GB';
    font-size: 15px;
    transition-duration: 0.4s; /*transtion time of color change for button:hover*/ 
}

.navbar {
    background-color: #3466af;
    color: #ffde00;
}
  
.navbar-brand {
    font-family: 'Pocket Monk';
}

.modal-close { /*child element of .modal*/
    float: right;
    /*-webkit-appearance: none;*/ 
        /*webkit is a CSS extension supported by the Webkit browser*/
        /*will need to do more research*/
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}
  
.modal h1 { /*child element of .modal*/
    margin-top: 0;
    margin: auto; 
    margin-left: 20px;
    text-align: center;
    font-family: 'Pokemon GB';
    font-size: 30px;
}

.modal-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.modal p { /*child element of .modal*/
    margin-bottom: 0;
    margin: auto;
    text-align: center;
}


#modal-container {
  display: none; /*the modal is now hidden by default*/
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}

@font-face {
    font-family: 'Pokemon GB';
    src: url('../F&P/PokemonGB.woff2') format('woff2'),
        url('../F&P/PokemonGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pocket Monk';
    src: url('../F&P/PocketMonk.woff2') format('woff2'),
        url('../F&P/PocketMonk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

